* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

ul > li {
  list-style: none;
  padding: 2rem;
  font-weight: 900;
}

nav > button {
  height: fit-content;
  padding: 0.4rem 2rem;
  margin-right: 2rem;
}

main {
  min-height: 100vh;
}

nav.light {
  background-color: lightblue;
  color: black;
}

main.light {
  background-color: rgb(238, 238, 238);
  color: black;
}

nav.dark {
  background-color: rgb(6, 0, 39);
  color: white;
}

main.dark {
  background-color: rgb(21, 21, 21);
  color: white;
}

nav.dark button {
  background-color: black;
  color: white;
}

nav.light button {
  background-color: wheat;
  color: black;
}
